@import url('https://fonts.googleapis.com/css?family=Tangerine');


html, body {
    font-family: 'Tangerine', serif;
    text-align: center;
    font-weight: 100;

}
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: floralwhite;
    font-size: 36px;
}

a {
    padding-right: 30px;
    color: black;
    /*text-decoration: none;*/
}

a:hover {
    color: #DF744A;
}

main {
    padding-top: 40px;
}
h1 {

    font-size: 73px;
}

p {
    font-size: 40px;
}

#welcome-section {
    padding-top: 20%;
    padding-bottom: 15%;
    color: black;
    background-color: #FEDCD2;
    font-size: 33px;
}

h2 {
    padding-bottom: 20px;
    margin-bottom: -30px;
    font-size: 60px;
    font-weight: lighter;
}

#work {
    text-align: center;
    padding-top: 50px;
    /*background-color: #DCB239;*/
    /*background-color: #BFD8D2;*/
}

.images {
    height: 50%;
    width: 100%;
    border-radius: 12px;
}

.box {
    padding: 60px 0px;

}

.box-part {
    /*padding:60px 10px;*/
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: #FFFAFA;
    border-radius: 12px;
}

h5 {
    margin: 10px;
    font-weight: lighter;
    font-size: 40px;
}

#contact {
    background-color: #D1EEEE;
}

h3 {
    padding-top: 40px;
    font-size: 43px;
    font-weight: lighter;
}

button {
    background-color: #DF744A;
    font-family: 'Tangerine', serif;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 33px;
    margin: 40px 15px;
    border-radius: 12px;
    outline:none;

}

.button:hover {
    color: #DCB239;
}

@media screen and (max-width: 600px) {


    #welcome-section {
        padding-top: 7rem;
    }

    .project-tile {
        display: block;
        height: 50%;
    }
    .card {

        width: 22rem;
        margin-top: -10px;
        border-radius: 12px;
        text-align: center;
    }
    h5 {
        font-size: 30px;
    }
}